<!DOCTYPE html>
<html xmlns:th"http://www.thymealft.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href= "@{estilo.css}" >
</head>
<body>
    <div class="menu">
        <ul>
            <li class="active"><a href="#">Inicio</a></li>
            <li><a href="#">Categoria</a></li>
            <li><a href="#">Comidas</a></li>
            <li><a href="#">Bebidas</a></li>
            <li><a href="#">Horarios</a></li>
        </ul>
    </div>
<table border="1"> 
<thead >
    <th> nombre</th>   

</thead>
<tbody>

<tr> 
  <td>
    COMIDA  
  </td>  
</tr>
</tbody>


</table>
</body>
</html>